h1{
  font-style: oblique;
  font-family: cursive;
  color: black;
  font-size: 70px;
  text-align: center;
}
body{
  background-image: url("/home/victor/Documents/Gaming/image/ronaldo.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1:hover{
  color: red;
}
h2{
  color: Blue;
  font-size: 70px;
  font-style: oblique;
  font-family: fantasy;
  text-align: center;
}
.container img{
  height: 350px;
}
p{
  font-size: 31px;
  color:yellow;
  text-align: justify;
}
h3{
  color: red;
  font-size: 70px;
  font-style: oblique;
  font-family: fantasy;
  text-align: center;
}
.rotate img{
transition: 1s ease;

}


.rotate img:hover{
-webkit-transform: rotateZ(-10deg);
-ms-transform: rotateZ(-10deg);
transform: rotateZ(-10deg);
transition: 1s ease;
border-style: solid;
border-color: red;
opacity: 0.5;
}
#comp{
  margin-bottom: 10%;
  margin-right: 20%;
}
.cat{
  margin-left: 55%;
  margin-top: -420px;
}
