body{
background-color: blue;
background-image: url("../image/flagbackground.jpg");
background-attachment: fixed;
background-repeat: repeat-x;
color: white;
background-size: cover;
  /* repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
); */
}
.jumbotron1{
background-image: url("../image/gameroom.jpeg");
background-repeat: repeat-x;
color: white;
text-align: center;
border-bottom-style: solid;
border-bottom-color: red
}
/* .jumbotron:hover{
   opacity:0.5;
   color:black;
   border-style: solid;
   border-color: red;
} */
#title{
  text-align: center;
  font-family: cursive;
}


.container a{
  height: 200px;
  display: block;
}
.rowdy{
  margin-left:150px;
}

.asphalt8{
  background-image: url("../image/asphalt8.jpg");
  height: 200px;
  background-size: cover;
  margin-right: 100px;
  text-align: center;
  /* align-items: center; */
  /* position: relative; */
}
.asphalt8:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}


.needforspeed{
  background-image: url("../image/needforspeed.jpg");
  height: 200px;
  background-size: cover;
  margin-right: 100px;
  text-align: center;
}
.needforspeed:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}


.dirtrally{
  background-image: url("../image/dirtrally.jpeg");
  height: 200px;
  background-size: cover;
  margin-right: 100px;
  text-align: center;
  margin-top: 50px;
  color:black;
}
.dirtrally:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}


.mariokart{
background-image: url("../image/mariokart.jpeg");
height: 200px;
background-size: cover;
margin-right: 100px;
text-align: center;
margin-top: 50px;
}
.mariokart:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}


.forza{
background-image: url("../image/forzahorizon.jpg");
height: 200px;
background-size: cover;
margin-right: 100px;
text-align: center;
  margin-top: 50px;
}
.forza:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}


.trackmania{
background-image: url("../image/trackmaniaturbo.jpg");
height: 200px;
background-size: cover;
margin-right: 100px;
text-align: center;
  margin-top: 50px;
}
.trackmania:hover{
  opacity:0.5;
  border-style: solid;
  border-color: red;
}
.checked{
  color:gold;
}
#cheat{
  display: none;
}
#previewasphalt{
  display: none;
}
#previewneedforspeed{
  display: none;
}
#previewdirtrally{
  display: none;
}
#previewtrackmania{
  display: none;
}
#previewforza{
  display: none;
}
#previewmario{
  display: none;
}
#info{
  text-align:justify;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
#info h1{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color:red;
}
.previewasphalt{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.previewneedforspeed{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.previewdirtrally{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.previewtrackmania{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.previewforza{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.previewmario{
  background-color: red;
  border-style: none;
  color:white;
  border-radius: 10%;
  width:300;
  height:200;
}
.table-responsive{
  margin-top: 50px;
}
.jumbotron2{
  background-color: black;
  margin-bottom: 0px;
  margin-top: 50px;
  border-top-style: solid;
  border-top-color: red;
  text-align: center;
}
.jumbotron2 i{
  height: 50px;
  width: 50px;
}
