body{
  background-image: url("/home/victor/Documents/Gaming/image/africa.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
h1{
  font-size: 70px;
  font-style: oblique;
  font-family: fantasy;
  color: orange;
  text-align: center;
}
h2{
  font-size: 70px;
  font-style: oblique;
  font-family: fantasy;
  color: black;
  text-align: left;
}
li{
  font-size: 45px;
  font-style: oblique;
  font-family: fantasy;
  color: white;
  text-align: justified;
}
h3{
  font-size: 70px;
  font-style: italic;
  font-family: cursive;
  color: yellow;
  text-align: left;
}
.rug{
  border-color: orange;
}
.video2{
  display: none;
}
h4{
  font-size: 50px;
  font-style: italic;
  font-family: cursive;
  color: orange;
  text-align: left;
}
.link{
  font-size: 40px;
}
