h1{
  font-size: 80px;
  font-style: oblique;
  font-family: cursive;
  text-align: center;
  color: yellow;
  background-image: url("/home/victor/Documents/Gaming/lindsay/images/ufc.jpeg");
  height:750px;
  repeat: none;
}
circle img {
transition: 1s ease;
}

.circle img:hover {
border-radius:50%;
transition: 1s ease;
}
.row2{
  float: right;
}
