#racing{
  background-image: url("../image/racing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  padding-bottom: 100px;
}
#racing:hover{
  transition: 1s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
#sports{
  background-image: url("../image/sports.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
#sports:hover{
  transition: 1s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
#fighting{
  background-image: url("../image/fighting.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
#fighting:hover{
  transition: 1s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
#action{
  background-image: url("../image/action.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
#action:hover{
  transition: 1s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
#war{
  background-image: url("../image/fight1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
}
#war:hover{
  transition: 1s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
body{
  background-image: url('../image/bg1.jpeg');
  background-size: cover;
  background-position: center;
}
#logo{
  margin-left: 70px;
  margin-right: 40px;
}
h1{
  font-family: 'Khand', sans-serif;
  color:red;
}
a{
  text-decoration: none;
}
#comment{
  font-size:20px;
}
#comment{
  background-color:white;
  padding:100px;
  margin-right: 80px;
}
.col-md-5{
    margin-left:60px;
    margin-top: 30px;
}
.col-md-10{
    margin-left:90px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#submit{
  background-color:red;
  border-style:none;
}
#submit:hover{
  background-color: grey;
}
#txt{
  color:white;
}
#com{
  margin-top:30px;
}
h2{
  size:40px;
}
#footer{
  background-color: grey;
  text-align:  center;
}
#icons{
  color:#3385ff;
}
.copyright{
  text-align: center;
}
#copy{
  font-size: 30px;
}
