h2{
  color:red;
  font-family: 'Lobster', cursive;
}
h3{
  color:white;
  font-family: 'Pacifico', cursive;

}
body{
  background-image: url('../image/bg2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  background-image: url('../image/bg.png');
  width:80%;
  margin:auto;
  overflow: hidden;
  scroll-behavior: smooth;
}
nav a{

  text-decoration: none;
  color:black;
}
nav a:hover{
  padding:20px;
  color:white;
  background-color:black;
}
nav li{
  display:inline;
  float: right;
  margin-top:10px;
}
.checked {
    color: orange;
}
#password:hover{
  color:blue;
}
#bar{
  float:right;
}
