.atvi-agegate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #222;
}
.atvi-agegate .form {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .atvi-agegate .form {
    min-width: 320px;
    padding: 0;
  }
}
.atvi-agegate .fields {
  width: 100%;
}
.atvi-agegate .field-label {
  display: none;
}
.atvi-agegate .month-input,
.atvi-agegate .day-input {
  width: 22%;
}
.atvi-agegate .year-input {
  width: 33%;
}
.atvi-agegate .field {
  display: inline-block;
  font-size: 20px;
  padding: .3em;
  text-align: center;
  margin-right: .5em;
}
.atvi-agegate .feedback-message {
  display: none;
  padding: 1em 0 0;
  color: #FFF;
}
.atvi-agegate .submit-wrapper {
  margin: 2em 0 .5em;
  display: block;
}
.atvi-agegate .submit {
  padding: .5em 2em;
  background-color: #555;
  text-decoration: none;
}
.atvi-agegate .submit:hover {
  background-color: #777;
}
