@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');
body {
  overflow-x: hidden;
  background-color: #FFF;
  color: #000;
}
body .top-nav .top-nav-right .top-nav-right-mobile > .mobile-nav-close {
  display: none;
}
body.menu-open {
  position: fixed;
}
body.menu-open .top-nav .top-nav-right .top-nav-right-mobile > .mobile-nav-close {
  display: inline-block;
}
body.menu-open .top-nav .top-nav-right .top-nav-right-mobile > .mobile-menu-icon {
  display: none;
}
body.menu-open .mobile-nav {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media screen and (min-width: 1251px) {
  body.menu-open .mobile-nav {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
body.sso-auth-known .top-nav .top-sub-menu > ul li.sso-link.logged-in {
  display: none;
}
body.sso-auth-known .top-nav .top-sub-menu > ul li.sso-link.logged-out {
  display: inline-block;
}
body.sso-auth-known .mobile-nav-container .logged-in {
  display: none;
}
body.sso-auth-known .mobile-nav-container .logged-out {
  display: block;
}
body.sso-logged-in.sso-auth-known .top-nav .top-sub-menu > ul li.sso-link.logged-in {
  display: inline-block;
}
body.sso-logged-in.sso-auth-known .top-nav .top-sub-menu > ul li.sso-link.logged-out {
  display: none;
}
body.sso-logged-in.sso-auth-known .mobile-nav-container .logged-in {
  display: block;
}
body.sso-logged-in.sso-auth-known .mobile-nav-container .logged-out {
  display: none;
}
body .logged-in,
body logged-out {
  display: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1.7;
}
@media screen and (max-width: 640px) {
  p {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  p {
    text-rendering: optimizeLegibility;
  }
}
.image img {
  margin: 0;
}
img,
svg {
  max-width: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.page-content-container {
  position: relative;
  padding-top: 75px;
}
@media screen and (max-width: 1250px) {
  .page-content-container {
    padding-top: 56px;
  }
}
.page-content-container,
.page-content {
  display: block;
}
.image-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.section-header {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.section-header h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  padding: 0 0 15px 0;
}
@media screen and (max-width: 640px) {
  .section-header h2 {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .section-header h2 {
    text-rendering: optimizeLegibility;
  }
}
.full-header {
  margin-top: 60px;
  margin-bottom: 30px;
  border-top: #9b9b9b 6px solid;
}
.full-header .full-header-inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto 40px;
  margin-bottom: 20px;
}
.full-header .full-header-inner h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: #FFF;
  padding: 10px 20px;
  display: inline-block;
  background: #9b9b9b;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media screen and (max-width: 640px) {
  .full-header .full-header-inner h2 {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .full-header .full-header-inner h2 {
    text-rendering: optimizeLegibility;
  }
}
.atvi-agegate {
  background: rgba(0, 0, 0, 0.7);
}
.atvi-agegate .form {
  min-width: 0;
}
.atvi-agegate .dob-prompt {
  color: #FFF;
  font-size: 34px;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 4px 7px #000;
}
@media screen and (max-width: 640px) {
  .atvi-agegate .dob-prompt {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .atvi-agegate .dob-prompt {
    text-rendering: optimizeLegibility;
  }
}
.atvi-agegate .submit-wrapper a {
  color: #000000;
  background: #ffffff;
  border: 1px solid transparent;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.7px;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 25px;
}
@media screen and (max-width: 640px) {
  .atvi-agegate .submit-wrapper a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .atvi-agegate .submit-wrapper a {
    text-rendering: optimizeLegibility;
  }
}
.atvi-agegate .submit-wrapper a:hover {
  color: #ffffff;
  background: #000000;
  border: 1px solid #ffffff;
}
.atvi-agegate .error-message.failure {
  color: #FF0000;
}
@media screen and (max-width: 640px) {
  .atvi-agegate .dob-prompt {
    font-size: 18px;
  }
  .atvi-agegate .field {
    font-size: 15px;
  }
  .atvi-agegate .submit-wrapper {
    margin-top: 0;
  }
}
.sso-bar-spacer {
  display: none;
}
.SSO-BAR {
  display: none !important;
}
.SSO-BAR #sso-bar-wrapper {
  width: 100%!important;
}
.SSO-BAR #sso-bar-menu > li {
  width: auto!important;
  border: none!important;
  background-color: none!important;
}
.SSO-BAR #sso-bar-menu > li > a {
  display: inline-block !important;
  width: auto!important;
  text-transform: uppercase!important;
  font-family: 'Bourgeois Medium' !important;
  font-size: 12px!important;
}
.SSO-BAR #menu-explore:after {
  content: "";
  width: 12px;
  height: 12px;
}
.SSO-BAR #menu-identity {
  margin-right: 2rem;
  min-width: 40px;
  background-position: center center;
}
.SSO-BAR #sso-identities-menu-label {
  min-width: 100%;
}
.SSO-BAR .atvi-locale-selector {
  top: 13px;
  left: 8px;
}
.SSO-BAR .atvi-locale-selector .locale-list {
  background-color: #9b9b9b;
}
.SSO-BAR .atvi-locale-selector .locale-link {
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.SSO-BAR .atvi-locale-selector .locale-link:hover {
  color: #9e922c;
}
.SSO-BAR .atvi-locale-selector .close-button {
  display: none;
}
.SSO-BAR .submit {
  background: none!important;
  color: #9e922c !important;
  padding: 0 4px!important;
}
.SSO-BAR #or {
  background: none!important;
  color: #e3e3e3 !important;
  font-family: 'Bourgeois Medium' !important;
  font-size: 12px!important;
}
@media screen and (max-width: 768px) {
  .SSO-BAR,
  .sso-bar-spacer {
    display: none!important;
  }
}
body > .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 900;
}
body > .overlay img {
  max-width: 100%;
}
body > .overlay .inner {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  top: 140px;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
body > .overlay .close {
  width: 45px;
  height: 40px;
  cursor: pointer;
  top: -42px;
  right: -10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body > .overlay .close:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #ffff03;
}
body > .overlay .overlay-content {
  height: 0;
  padding-bottom: 56.25%;
}
body > .overlay iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024) {
  body > .overlay .inner {
    width: 90%;
  }
}
body.ViewProfilePage .admin-notes .lia-list-wide > tbody > tr > td {
  width: 33%;
}
@media screen and (max-width: 767px) {
  .lia-mce-toolbar-bullist.lia-mce-toolbar-bullist {
    display: block;
  }
  .lia-mce-toolbar-code.lia-mce-toolbar-code {
    display: block;
  }
  .lia-mce-toolbar-codesample.lia-mce-toolbar-codesample {
    display: block;
  }
  .lia-mce-toolbar-embedvideo.lia-mce-toolbar-embedvideo {
    display: block;
  }
  .lia-mce-toolbar-findcontent.lia-mce-toolbar-findcontent {
    display: block;
  }
  .lia-mce-toolbar-fontselect.lia-mce-toolbar-fontselect {
    display: block;
  }
  .lia-mce-toolbar-fontsizeselect.lia-mce-toolbar-fontsizeselect {
    display: block;
  }
  .lia-mce-toolbar-forecolor.lia-mce-toolbar-forecolor {
    display: block;
  }
  .lia-mce-toolbar-formatselect.lia-mce-toolbar-formatselect {
    display: block;
  }
  .lia-mce-toolbar-insertcode.lia-mce-toolbar-insertcode {
    display: block;
  }
  .lia-mce-toolbar-italic.lia-mce-toolbar-italic {
    display: block;
  }
  .lia-mce-toolbar-numlist.lia-mce-toolbar-numlist {
    display: block;
  }
  .lia-mce-toolbar-spellchecker.lia-mce-toolbar-spellchecker {
    display: block;
  }
  .lia-mce-toolbar-spoiler.lia-mce-toolbar-spoiler {
    display: block;
  }
  .lia-mce-toolbar-strikethrough.lia-mce-toolbar-strikethrough {
    display: block;
  }
  .lia-mce-toolbar-table.lia-mce-toolbar-table {
    display: block;
  }
  .lia-mce-toolbar-toc.lia-mce-toolbar-toc {
    display: block;
  }
  .lia-mce-toolbar-underline.lia-mce-toolbar-underline {
    display: block;
  }
}
.lightgray {
  background-color: #dde0e2;
}
.darkgray {
  background-color: #b9baba;
}

@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');
.footer-content-container {
  background: #FFF;
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto 40px;
}
.footer-content-container .footer-content-container-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-content-container .footer-top:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.footer-content-container .footer-top .footer-top-left {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.footer-content-container .footer-top .footer-top-left li {
  margin-bottom: 20px;
}
.footer-content-container .footer-top .footer-top-left a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #9b9b9b;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .footer-content-container .footer-top .footer-top-left a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .footer-content-container .footer-top .footer-top-left a {
    text-rendering: optimizeLegibility;
  }
}
.footer-content-container .footer-top .footer-top-left a:hover {
  color: #000;
}
.footer-content-container .footer-top .footer-top-right {
  float: right;
  width: 50%;
}
.footer-content-container .footer-top .footer-top-right .activision-link {
  background-image: url('../../../../../../../content/dam/atvi/callofduty/hub/main-hub/activision-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 81px;
  max-width: 320px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .footer-content-container .footer-top .footer-top-right .activision-link {
    height: 42px;
    max-width: 166px;
  }
}
.footer-content-container .footer-top .footer-top-right .studio-link {
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 88px;
  max-width: 326px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.footer-content-container .footer-bottom:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.footer-content-container .footer-bottom .footer-bottom-left {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.footer-content-container .footer-bottom .footer-bottom-left p {
  line-height: 1.4;
  color: #9b9b9b;
  font-size: 12px;
  margin-bottom: 25px;
}
.footer-content-container .footer-bottom .footer-bottom-left p a {
  color: #000;
  text-decoration: underline;
}
.footer-content-container .footer-bottom .footer-bottom-right {
  float: right;
  width: 50%;
}
.footer-content-container .footer-bottom .footer-bottom-right li {
  display: inline-block;
  margin-right: 10px;
}
.footer-content-container .footer-bottom .footer-bottom-right li:last-of-type {
  width: 140px;
}
.footer-content-container .footer-bottom .footer-bottom-right .ratings-logo,
.footer-content-container .footer-bottom .footer-bottom-right .ratings-logo-mwr {
  width: 336px;
  height: 120px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector {
  margin-top: 25px;
  position: relative;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector {
  display: block;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .atvi-locale-selector a {
  color: #FFF;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .close-button {
  display: none;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .locale-menu {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .locale-list {
  background: #434343;
}
.footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .locale-list .locale-entry {
  width: 45%;
}
.footer-content-container .atvi-locale-selector .CN .flag,
.footer-content-container .atvi-locale-selector .TW .flag {
  opacity: 0;
}
.footer-content-container .atvi-locale-selector .locale-entry.CN .flag,
.footer-content-container .atvi-locale-selector .locale-entry.TW .flag {
  display: none;
}
.footer-content-container .atvi-locale-selector a.CN > .region,
.footer-content-container .atvi-locale-selector a.TW > .region {
  display: block;
  color: #000;
}
@media screen and (max-width: 1023px) {
  .footer-content-container .footer-bottom .footer-bottom-right li {
    display: block;
  }
  .footer-content-container .footer-bottom .footer-bottom-right li:last-of-type {
    width: 100%;
    max-width: 290px;
  }
  .footer-content-container .footer-bottom .footer-bottom-right .ratings-logo {
    width: 100%;
  }
}
@media screen and (min-width: 681px) {
  .footer-content-container .footer-bottom .footer-bottom-right {
    margin-top: -100px;
  }
}
@media screen and (max-width: 680px) {
  .footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .locale-menu {
    bottom: 30px;
  }
  .footer-content-container .footer-bottom .footer-bottom-right .footer-locale-selector .locale-list {
    width: 100%;
  }
  .footer-content-container .footer-content-container-inner {
    border-bottom: none;
  }
  .footer-content-container .footer-bottom .footer-bottom-left {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-content-container .footer-bottom .footer-bottom-right {
    float: none;
    width: 100%;
    margin-top: 0;
    /*li {
					display: block;

                    &:last-of-type {
						width: 100%;
                        max-width: 290px;
                    }
                }

                .ratings-logo {
					width: 100%;
                }*/
  }
}

