.atvi-locale-selector {
  display: inline-block;
}
.atvi-locale-selector hr {
  display: none;
}
.atvi-locale-selector .locale-list {
  padding: 10px;
  width: 325px;
  background: #fff;
}
.atvi-locale-selector .locale-list:after {
  content: ".";
  clear: both;
  visibility: hidden;
  height: 0;
  display: block;
}
.atvi-locale-selector .locale-entry {
  width: 50%;
  margin: 0;
  padding: 9px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.atvi-locale-selector .locale-entry:nth-child(odd) {
  float: left;
  clear: left;
}
.atvi-locale-selector .locale-entry:nth-child(even) {
  float: right;
}
.atvi-locale-selector .locale-entry:last-child:nth-child(odd) {
  border-bottom: none;
}
.atvi-locale-selector .locale-link,
.atvi-locale-selector a {
  text-decoration: none;
  color: inherit;
}
.atvi-locale-selector .current .main-flag {
  float: none;
}
.atvi-locale-selector .current .region,
.atvi-locale-selector .current .message {
  display: none;
}
.atvi-locale-selector .locale-menu {
  display: none;
}
.atvi-locale-selector .flag {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 13px;
  background-color: #abc;
  background-image: url('../../../../content/dam/atvi/global/locale-selector/flags-sprite-small.png');
}
.atvi-locale-selector .US .flag {
  background-position: 0 0;
}
.atvi-locale-selector .UK .flag {
  background-position: -29px 0px;
}
.atvi-locale-selector .CA .flag {
  background-position: -340px 0px;
}
.atvi-locale-selector .FR .flag {
  background-position: -263px 0px;
}
.atvi-locale-selector .ES .flag {
  background-position: -301px 0px;
}
.atvi-locale-selector .IT .flag {
  background-position: -220px 0px;
}
.atvi-locale-selector .DE .flag {
  background-position: -239px 0px;
}
.atvi-locale-selector .AU .flag {
  background-position: -378px 0px;
}
.atvi-locale-selector .NZ .flag {
  background-position: -112px 0px;
}
.atvi-locale-selector .MX .flag {
  background-position: -179px 0px;
}
.atvi-locale-selector .BR .flag {
  background-position: -359px 0px;
}
.atvi-locale-selector .SE .flag {
  background-position: -51px 0px;
}
.atvi-locale-selector .NL .flag {
  background-position: -158px 0px;
}
.atvi-locale-selector .DK .flag {
  background-position: -320px 0px;
}
.atvi-locale-selector .NO .flag {
  background-position: -137px 0px;
}
.atvi-locale-selector .FI .flag {
  background-position: -282px 0px;
}
.atvi-locale-selector .RU .flag {
  background-position: -70px 0px;
}
.atvi-locale-selector .PL .flag {
  background-position: -90px 0px;
}
.atvi-locale-selector .JA .flag {
  background-position: -201px 0px;
}
.atvi-locale-selector .PT .flag {
  background-position: -406px 0px;
}
.atvi-locale-selector .AR .flag {
  background-position: -425px 0px;
}
.atvi-locale-selector .CN .flag {
  background-position: -461px 0px;
}
.atvi-locale-selector .TW .flag {
  background-position: -461px 0px;
}
.atvi-locale-selector .KO .flag {
  background-position: -504px 0px;
}
.atvi-locale-selector .BE .flag {
  background-position: -485px 0px;
}
.atvi-locale-selector .en_ar.AR .flag,
.atvi-locale-selector .loc-en_ar.AR .flag {
  background-position: -523px 0px;
}
.atvi-locale-selector .region {
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  line-height: 13px;
  font-size: 12px;
}
.atvi-locale-selector .loc-en_ar.selected .region {
  font-size: 10px;
}
.atvi-locale-selector .selected .region:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjAgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIyLjExOCwxMS45NDEgCgk2LjE5MywxOC4wMjggMTcuOTA2LDEuOTc4ICIvPgo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 5px;
  line-height: 0;
  width: 12px;
  height: 12px;
}
.atvi-locale-selector.large .locale-list {
  width: 80%;
  font-size: 12px;
}
.atvi-locale-selector.large .flag {
  width: 37.4px;
  height: 28.6px;
  background-image: url('../../../../content/dam/atvi/global/locale-selector/flags-sprite-large.png');
}
.atvi-locale-selector.large .region {
  line-height: 28.6px;
}
.atvi-locale-selector.large .US .flag {
  background-position: 0 0;
}
.atvi-locale-selector.large .UK .flag {
  background-position: -69px 0px;
}
.atvi-locale-selector.large .CA .flag {
  background-position: -785px 0px;
}
.atvi-locale-selector.large .FR .flag {
  background-position: -606px 0px;
}
.atvi-locale-selector.large .ES .flag {
  background-position: -696px 0px;
}
.atvi-locale-selector.large .IT .flag {
  background-position: -508px 0px;
}
.atvi-locale-selector.large .DE .flag {
  background-position: -559px 0px;
}
.atvi-locale-selector.large .AU .flag {
  background-position: -878px 0px;
}
.atvi-locale-selector.large .NZ .flag {
  background-position: -265px 0px;
}
.atvi-locale-selector.large .MX .flag {
  background-position: -414px 0px;
}
.atvi-locale-selector.large .BR .flag {
  background-position: -829px 0px;
}
.atvi-locale-selector.large .SE .flag {
  background-position: -120px 0px;
}
.atvi-locale-selector.large .NL .flag {
  background-position: -364px 0px;
}
.atvi-locale-selector.large .DK .flag {
  background-position: -741px 0px;
}
.atvi-locale-selector.large .NO .flag {
  background-position: -319px 0px;
}
.atvi-locale-selector.large .FI .flag {
  background-position: -653px 0px;
}
.atvi-locale-selector.large .RU .flag {
  background-position: -165px 0px;
}
.atvi-locale-selector.large .PL .flag {
  background-position: -215px 0px;
}
.atvi-locale-selector.large .JA .flag {
  background-position: -463px 0px;
}
.atvi-locale-selector.large .PT .flag {
  background-position: -931px 0;
}
.atvi-locale-selector.large .AR .flag {
  background-position: -980px 0;
}
.atvi-locale-selector.large .BE .flag {
  background-position: -1025px 0px;
}
.atvi-locale-selector.large .KO .flag {
  background-position: -1071px 0px;
}
.atvi-locale-selector.large .en_ar.AR .flag,
.atvi-locale-selector.large .loc-en_ar.AR .flag {
  background-position: -1113px 0px;
}
@media screen and (max-width: 680px) {
  .atvi-locale-selector .locale-list {
    width: 80%;
    font-size: 12px;
  }
  .atvi-locale-selector .flag {
    width: 37.4px;
    height: 28.6px;
    background-image: url('../../../../content/dam/atvi/global/locale-selector/flags-sprite-large.png');
  }
  .atvi-locale-selector .region {
    line-height: 28.6px;
  }
  .atvi-locale-selector .US .flag {
    background-position: 0 0;
  }
  .atvi-locale-selector .UK .flag {
    background-position: -69px 0px;
  }
  .atvi-locale-selector .CA .flag {
    background-position: -785px 0px;
  }
  .atvi-locale-selector .FR .flag {
    background-position: -606px 0px;
  }
  .atvi-locale-selector .ES .flag {
    background-position: -696px 0px;
  }
  .atvi-locale-selector .IT .flag {
    background-position: -508px 0px;
  }
  .atvi-locale-selector .DE .flag {
    background-position: -559px 0px;
  }
  .atvi-locale-selector .AU .flag {
    background-position: -878px 0px;
  }
  .atvi-locale-selector .NZ .flag {
    background-position: -265px 0px;
  }
  .atvi-locale-selector .MX .flag {
    background-position: -414px 0px;
  }
  .atvi-locale-selector .BR .flag {
    background-position: -829px 0px;
  }
  .atvi-locale-selector .SE .flag {
    background-position: -120px 0px;
  }
  .atvi-locale-selector .NL .flag {
    background-position: -364px 0px;
  }
  .atvi-locale-selector .DK .flag {
    background-position: -741px 0px;
  }
  .atvi-locale-selector .NO .flag {
    background-position: -319px 0px;
  }
  .atvi-locale-selector .FI .flag {
    background-position: -653px 0px;
  }
  .atvi-locale-selector .RU .flag {
    background-position: -165px 0px;
  }
  .atvi-locale-selector .PL .flag {
    background-position: -215px 0px;
  }
  .atvi-locale-selector .JA .flag {
    background-position: -463px 0px;
  }
  .atvi-locale-selector .PT .flag {
    background-position: -931px 0;
  }
  .atvi-locale-selector .AR .flag {
    background-position: -980px 0;
  }
  .atvi-locale-selector .BE .flag {
    background-position: -1025px 0px;
  }
  .atvi-locale-selector .KO .flag {
    background-position: -1071px 0px;
  }
  .atvi-locale-selector .en_ar.AR .flag,
  .atvi-locale-selector .loc-en_ar.AR .flag {
    background-position: -1113px 0px;
  }
}
@media screen and (max-width: 400px) {
  .atvi-locale-selector .locale-list {
    width: 99%;
  }
  .atvi-locale-selector .is-selected .region:after {
    left: 2px;
  }
}
