/*************************
 * BRAND SPECIFIC THEMATIC RULES
 * overrides for this site only
 *************************/
/*
All instances of #ff6000 should be replaced with the appropriate color code.
*/
/* type */
body .SSO-BAR h1,
body .SSO-BAR h3,
body .SSO-BAR h4,
body .SSO-BAR h5,
body .SSO-BAR h6,
body .SSO-BAR .sso-content-panel menu > li,
body .SSO-BAR #or {
  font-family: 'HelveticaNeueMediumCondensed', Helvetica, Arial, sans-serif;
}
.SSO-BAR .sso-content-panel menu#account-actions > li > a {
  color: white;
  border-radius: 0px;
  font-family: bourgeois bold;
  font-size: 16px;
  background-color: #ff6000;
}
body .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
.SSO-BAR #sso-bar-menu > li.is-active#menu-identity {
  background-image: url(../images/light-cog.png);
  border-bottom: rgba(255, 96, 0, 0.8);
}
.SSO-BAR #menu-identity .sso-content-panel#sso-identity #platform-user-name {
  color: white;
}
.SSO-BAR #menu-explore.is-active,
#menu-locale.is-active #sso-country-menu-label {
  background-image: url(../images/light-down-arrow.png);
}
#explore-bar-sites,
#explore-bar-more,
#sso-locale-items > li > a,
.SSO-BAR .sso-content-panel menu > li,
.SSO-BAR .sso-content-panel menu > li > a {
  font-family: bourgeois bold;
  color: white;
  letter-spacing: 1px;
}
.SSO-BAR .sso-content-panel menu > li,
.SSO-BAR .sso-content-panel menu > li > a {
  font-family: bourgeois medium;
}
.SSO-BAR #sso-bar-menu > li.is-active {
  background-color: rgba(255, 96, 0, 0.8);
}
.SSO-BAR .sso-content-panel {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #ff6000;
}
.SSO-BAR #sso-bar-menu > li > a,
body .SSO-BAR #or {
  font-family: bourgeois bold;
  letter-spacing: 1px;
}
body .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  font-weight: normal;
}
/* color */
/* Elite registration flow */
body.register-elite .SSO-BAR a:hover,
body.register-elite .SSO-BAR a:active,
body.register-elite .SSO-BAR a.is-active,
body.register-elite .SSO-BAR #sso-bar-menu > li.is-active > a,
body.register-elite .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body.register-elite .SSO-BAR .sso-content-panel menu > li > a:hover,
body.register-elite .SSO-BAR .sso-content-panel menu > li > a:active,
body.register-elite .SSO-BAR .panel-cta {
  color: #ff6000;
}
body.register-elite .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body.register-elite .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Main registration flow (and default color for sites that have no color specified) */
/* body .SSO-BAR a:hover, */
/* body .SSO-BAR a:active, */
/* body .SSO-BAR a.is-active, */
/* body .SSO-BAR #sso-bar-menu > li.on.is-active > a, */
body .SSO-BAR .sso-content-panel menu > li > a:hover,
body .SSO-BAR .panel-cta {
  color: #96A055;
}
body .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Premium website (same color as Elite registration flow) */
body#elite .SSO-BAR a:hover,
body#elite .SSO-BAR a:active,
body#elite .SSO-BAR a.is-active,
body#elite .SSO-BAR #sso-bar-menu > li.is-active > a,
body#elite .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#elite .SSO-BAR .sso-content-panel menu > li > a:hover,
body#elite .SSO-BAR .sso-content-panel menu > li > a:active,
body#elite .SSO-BAR .panel-cta {
  color: #ff6000;
}
body#elite .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body#elite .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Main website */
body#cod .SSO-BAR a:hover,
body#cod .SSO-BAR a:active,
body#cod .SSO-BAR a.is-active,
body#cod .SSO-BAR #sso-bar-menu > li.is-active > a,
body#cod .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#cod .SSO-BAR .sso-content-panel menu > li > a:hover,
body#cod .SSO-BAR .sso-content-panel menu > li > a:active,
body#cod .SSO-BAR .panel-cta {
  color: #8cb61b;
}
body#cod .SSO-BAR .sso-content-panel {
  border-bottom-color: #8cb61b;
}
body#cod .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #8cb61b;
}
/*PORT-2002*/
.SSO-PAGE > article > #side-promo-content img.promo-img {
  display: none;
}
/* MW3 website (same color as COD website) */
body#mw3 .SSO-BAR a:hover,
body#mw3 .SSO-BAR a:active,
body#mw3 .SSO-BAR a.is-active,
body#mw3 .SSO-BAR #sso-bar-menu > li.is-active > a,
body#mw3 .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#mw3 .SSO-BAR .sso-content-panel menu > li > a:hover,
body#mw3 .SSO-BAR .sso-content-panel menu > li > a:active,
body#mw3 .SSO-BAR .panel-cta {
  color: #8cb61b;
}
body#mw3 .SSO-BAR .sso-content-panel {
  border-bottom-color: #8cb61b;
}
body#mw3 .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #8cb61b;
}
/* SSO Pages Only */
body.sso #sso-bar-menu .sso-masthead-link {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 12px 0 0 20px;
}
body.sso #sso-bar-menu a .masthead {
  background-image: url(../images/brand-logo.png);
  /*Disabled the below line for case PORT-1935 */
  /* background-color: black; */
  width: 174px;
  height: 36px;
  float: left;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Black Ops website */
body#codbo .SSO-BAR a:hover,
body#codbo .SSO-BAR a:active,
body#codbo .SSO-BAR a.is-active,
body#codbo .SSO-BAR #sso-bar-menu > li.is-active > a,
body#codbo .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#codbo .SSO-BAR .sso-content-panel menu > li > a:hover,
body#codbo .SSO-BAR .sso-content-panel menu > li > a:active,
body#codbo .SSO-BAR .panel-cta {
  color: #00baea;
}
body#codbo .SSO-BAR .sso-content-panel {
  border-bottom-color: #00baea;
}
body#codbo .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #00baea;
}
/* right aligned menu */
body .SSO-BAR #sso-bar-menu > #menu-login-register,
body .SSO-BAR #sso-bar-menu > #menu-identity,
body .SSO-BAR #sso-bar-menu > #menu-notification,
body .SSO-BAR #sso-bar-menu > #menu-premium {
  float: right;
}
/* right aligned panels */
body .SSO-BAR #sso-bar-menu > #menu-login-register .sso-content-panel,
body .SSO-BAR #sso-bar-menu > #menu-identity .sso-content-panel,
body .SSO-BAR #sso-bar-menu > #menu-notification .sso-content-panel {
  left: auto;
  right: 0px;
}
/* Notification Icons  */
.notification-icon {
  background-repeat: no-repeat;
  background-position: 3px 2px;
  margin-left: 2px;
}
.notification-icon {
  background-image: url("../images/default_black.png");
  /* 	Default Icon */
}
.event_badge .notification-icon,
.operation_badge .notification-icon {
  background-image: url("../images/earned_badge_black.png");
}
.comment_on_comment .notification-icon {
  background-image: url("../images/comment_black.png");
}
.clan_app_received .notification-icon,
.clan_invite_received .notification-icon {
  background-image: url("../images/clan_invite_black.png");
}
.clan_invite_accepted .notification-icon {
  background-image: url("../images/clan_application_accepted_black.png");
}
.clan_motd .notification-icon {
  background-image: url("../images/motd_black.png");
}
.clan_earned_xp .notification-icon {
  background-image: url("../images/earned_clan_badge_black.png");
}
.marketing_message .notification-icon {
  background-image: url("../images/news_black.png");
}
.tracked .notification-icon,
.operation_enrolled .notification-icon,
.event_enrolled .notification-icon {
  background-image: url("../images/track_black.png");
}
/************************************
	DIV PLACED LOGIN
*************************************/
.sso-login-wrapper .sprite-pages {
  background: transparent url(../images/sprite-pages.png) -99999px -99999px no-repeat;
}
.sso-login-wrapper .loginFB {
  background-image: url(../images/sprite-pages.png);
  background-position: 0 -1097px;
}
.sso-login-wrapper .chooseLogin {
  background-position: 0px -1131px;
}
.SSO-BAR .sso-notification-item {
  padding-left: 50px;
}
.SSO-BAR .sso-notification-item {
  padding-left: 50px;
}
.SSO-BAR .sso-notification-item h3,
.SSO-BAR h3 span#profile-complete-text-prefix,
.SSO-BAR h3 span#profile-completion-percentage,
.SSO-BAR h3 span#profile-complete-text-suffix,
.SSO-BAR .sso-notification-item a {
  font-family: 'bourgeois bold';
  color: white;
}
.SSO-BAR .sso-notification-item p,
.SSO-BAR .sso-notification-item #profile-completion-text,
.SSO-BAR .sso-notification-item ul,
.SSO-BAR .sso-notification-item ul li {
  font-family: 'bourgeois medium';
  color: white;
}
body .SSO-BAR .sso-content-panel menu > li > a:hover,
body .SSO-BAR .panel-cta {
  color: #ff6000;
  font-family: 'bourgeois bold';
  font-style: normal;
  letter-spacing: 1px;
}

