@font-face {
  font-family: 'icomoon';
  src:  url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.eot?lj93it');
  src:  url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.eot?lj93it#iefix') format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.woff2?lj93it') format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.ttf?lj93it') format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.woff?lj93it') format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/61472/Embeds/icomoon.svg?lj93it#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash-t:before {
  content: "\e946";
}
.icon-apps:before {
  content: "\e927";
}
.icon-arrow-up-circle-thin:before {
  content: "\e904";
}
.icon-arrow-down-circle-thin:before {
  content: "\e905";
}
.icon-arrow-left-circle-thin:before {
  content: "\e906";
}
.icon-arrow-right-circle-thin:before {
  content: "\e907";
}
.icon-arrow-up-thin:before {
  content: "\e908";
}
.icon-arrow-down-thin:before {
  content: "\e909";
}
.icon-arrow-left-thin:before {
  content: "\e90a";
}
.icon-arrow-right-thin:before {
  content: "\e90b";
}
.icon-chevron-up-thin:before {
  content: "\e90c";
}
.icon-chevron-down-thin:before {
  content: "\e90d";
}
.icon-chevron-left-thin:before {
  content: "\e90e";
}
.icon-chevron-right-thin:before {
  content: "\e90f";
}
.icon-chevron-up-circle:before {
  content: "\e910";
}
.icon-chevron-down-circle:before {
  content: "\e911";
}
.icon-chevron-left-circle:before {
  content: "\e912";
}
.icon-chevron-right-circle:before {
  content: "\e913";
}
.icon-chevron-up:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-chevron-left:before {
  content: "\e944";
}
.icon-chevron-right:before {
  content: "\e945";
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-flickr:before {
  content: "\e91c";
}
.icon-googleplus:before {
  content: "\e929";
}
.icon-instagram:before {
  content: "\e92c";
}
.icon-periscope:before {
  content: "\e938";
}
.icon-snapchat:before {
  content: "\e939";
}
.icon-twitter:before {
  content: "\e93a";
}
.icon-vine:before {
  content: "\e93b";
}
.icon-youtube:before {
  content: "\e93c";
}
.icon-twitter-like:before {
  content: "\e93d";
}
.icon-twitter-reply:before {
  content: "\e93e";
}
.icon-twitter-retweet:before {
  content: "\e93f";
}
.icon-cta-custom:before {
  content: "\e940";
}
.icon-cta-info:before {
  content: "\e941";
}
.icon-cta-shop:before {
  content: "\e942";
}
.icon-cta-signup:before {
  content: "\e943";
}
.icon-heart:before {
  content: "\e958";
}
.icon-heart-outline:before {
  content: "\e959";
}
.icon-sim-card:before {
  content: "\e951";
}
.icon-sim-card-alert:before {
  content: "\e952";
}
.icon-phone-landscape:before {
  content: "\e953";
}
.icon-tablet-landscape:before {
  content: "\e954";
}
.icon-phone:before {
  content: "\e955";
}
.icon-tablet:before {
  content: "\e956";
}
.icon-desktop:before {
  content: "\e957";
}
.icon-error:before {
  content: "\e94e";
}
.icon-error-outline:before {
  content: "\e94f";
}
.icon-help:before {
  content: "\e94c";
}
.icon-help-outline:before {
  content: "\e94d";
}
.icon-triangle-left:before {
  content: "\e948";
}
.icon-triangle-right:before {
  content: "\e949";
}
.icon-triangle-up:before {
  content: "\e94a";
}
.icon-triangle-down:before {
  content: "\e94b";
}
.icon-trending-up:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-check:before {
  content: "\e91b";
}
.icon-add:before {
  content: "\e91e";
}
.icon-remove:before {
  content: "\e950";
}
.icon-more-horizontal:before {
  content: "\e5d3";
}
.icon-more-vertical:before {
  content: "\e5d4";
}
.icon-checkmark-circle:before {
  content: "\e918";
}
.icon-cross-circle:before {
  content: "\e919";
}
.icon-circle-minus:before {
  content: "\e91a";
}
.icon-delete-bin:before {
  content: "\e91f";
}
.icon-delete-circle:before {
  content: "\e920";
}
.icon-play:before {
  content: "\e921";
}
.icon-play-circle:before {
  content: "\e922";
}
.icon-play-circle-outline:before {
  content: "\e923";
}
.icon-redo:before {
  content: "\e924";
}
.icon-undo:before {
  content: "\e925";
}
.icon-screen-rotation:before {
  content: "\e926";
}
.icon-embed:before {
  content: "\e928";
}
.icon-info:before {
  content: "\e92a";
}
.icon-warning:before {
  content: "\e917";
}
.icon-new-tab:before {
  content: "\e92b";
}
.icon-sun-outline:before {
  content: "\e92d";
}
.icon-sun:before {
  content: "\e92e";
}
.icon-moon:before {
  content: "\e92f";
}
.icon-moon-outline:before {
  content: "\e930";
}
.icon-edit:before {
  content: "\e931";
}
.icon-edit-simple:before {
  content: "\e947";
}
.icon-copy:before {
  content: "\e932";
}
.icon-droplet:before {
  content: "\e933";
}
.icon-calendar:before {
  content: "\e934";
}
.icon-link:before {
  content: "\e935";
}
.icon-grid:before {
  content: "\e936";
}
.icon-spinner:before {
  content: "\e937";
}
