.atvi-video {
  overflow: hidden;
}
.atvi-video .player-wrapper {
  position: relative;
  width: 100%;
}
.atvi-video .player {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #000;
}
.atvi-video .display {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
}
.atvi-video.playing .display {
  opacity: 0;
}
.atvi-video.playing:hover .display {
  opacity: 1;
}
.atvi-video.playing {
  cursor: none;
}
.atvi-video.playing.show-cursor {
  cursor: default;
}
.atvi-video .playing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.atvi-video.playing .playing-overlay {
  display: block;
}
.atvi-video .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 1;
  cursor: default;
}
.atvi-video.playing .controls {
  -webkit-transition: opacity 1s ease .5s;
  transition: opacity 1s ease .5s;
  opacity: 0;
}
.atvi-video.playing.hovered .controls,
.atvi-video.playing .controls:hover {
  -webkit-transition: opacity .5s ease 0s;
  transition: opacity .5s ease 0s;
  opacity: 1;
}
.atvi-video .controls-container {
  position: relative;
  margin: 0 auto;
  height: 40px;
}
.atvi-video .controls .button,
.atvi-video .controls .clock,
.atvi-video .controls .volume-wrapper {
  top: 0;
  display: block;
  position: absolute;
  height: 100%;
}
.atvi-video .controls .button {
  width: 40px;
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  opacity: .8;
  -webkit-transition: opacity .3s;
  transition: opactiy: .3s;
}
.atvi-video .controls .button:hover {
  opacity: 1;
}
.atvi-video .controls .play {
  display: block;
  left: 0;
  background: url("video/images/play-btn.png") top left no-repeat;
}
.atvi-video.playing .controls .play {
  display: none;
}
.atvi-video .controls .pause {
  display: none;
  left: 0;
  background: url("video/images/pause-btn.png") top left no-repeat;
}
.atvi-video.playing .controls .pause {
  display: block;
}
.atvi-video .controls .time-slider {
  position: relative;
  height: 100%;
  margin-left: 64px;
  margin-right: 260px;
  cursor: pointer;
}
.atvi-video .time-slider .inner {
  position: relative;
  height: 12px;
  top: 14px;
  margin: 0 10px 0 10px;
  background-color: #222222;
}
.atvi-video .time-slider .filled,
.atvi-video .time-slider .loaded {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
}
.atvi-video .time-slider .loaded {
  background-color: #444444;
}
.atvi-video .time-slider .filled {
  background-color: #777777;
}
.atvi-video .time-slider .marker {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 6px;
  height: 16px;
  background-color: #aaaaaa;
}
.atvi-video .controls .clock {
  position: absolute;
  width: 140px;
  right: 120px;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
  color: #dddddd;
}
.atvi-video .controls .sd-hd {
  right: 80px;
  background: url("video/images/hd-sd-btn.png") bottom left no-repeat;
}
.atvi-video.hd .controls .sd-hd,
.atvi-video .controls .sd-hd:hover {
  background-position: top left;
}
.atvi-video .controls .volume-wrapper {
  position: absolute;
  right: 40px;
  width: 40px;
}
.atvi-video .controls .speaker {
  left: 0;
  background: url("video/images/volume-btn.png") top left no-repeat;
}
.atvi-video.muted .controls .speaker,
.atvi-video .controls .speaker:hover {
  background-position: bottom left;
}
.atvi-video.muted .controls .speaker:hover {
  background-position: top left;
}
.atvi-video .controls .volume-slider {
  position: absolute;
  width: 100%;
  bottom: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s ease .5s;
  transition: height .3s ease .5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}
.atvi-video .volume-wrapper:hover .volume-slider {
  height: 128px;
  -webkit-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.atvi-video .volume-slider .inner {
  position: relative;
  width: 12px;
  top: 14px;
  left: 14px;
  height: 100px;
  background-color: #222222;
}
.atvi-video .volume-slider .filled {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #777777;
  bottom: 0;
}
.atvi-video .volume-slider .marker {
  position: absolute;
  left: -2px;
  top: -3px;
  height: 6px;
  width: 16px;
  background-color: #aaaaaa;
}
.atvi-video .controls .fullscreen {
  right: 0;
  background: url("video/images/fullscreen-btn.png") top left no-repeat;
}
.atvi-video.fullscreen .controls .fullscreen {
  background-position: bottom left;
}
.atvi-video.fullscreen {
  width: 100%;
  height: 100%;
}
.atvi-video.fullscreen .controls-container {
  width: 100%;
}
.atvi-video.fullscreen .player-wrapper {
  padding-bottom: 63.25%;
}
.atvi-video.fullbrowser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.atvi-video.fullbrowser .player-part,
.atvi-video.fullbrowser .player-wrapper {
  padding: 0;
  height: 100%;
}
.atvi-video.use-external-link .controls-container {
  display: none;
}
.atvi-video.use-external-link .external-link-overlay,
.atvi-video.use-external-link .external-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-device-width: 1024px) {
  .atvi-video .controls .volume-wrapper {
    display: none;
  }
}
